[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/fadila/.ssh/allowed_signers
[user]
	name = Ashbir Aviat Fadila
	email = fadila@ashbir.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGZ8ayPaxZXM1PQCGuC/dspARr8jBeGSRwfKrBIB61oh
[init]
	defaultBranch = main
[core]
	editor = nvim
[difftool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[core]
	pager = delta
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\" -c 'wincmd 3l' -c 'wincmd J'"
	trustExitCode = true
	keepBackup = false
[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    syntax-theme = gruvbox-dark
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-style = file line-number syntax
