[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "sway/.local/share/themes/Dracula"]
	path = sway/.local/share/themes/Dracula
	url = https://github.com/dracula/gtk.git
[submodule "sway/.local/share/icons/dracula-icons"]
	path = sway/.local/share/icons/dracula-icons
	url = https://github.com/m4thewz/dracula-icons.git
[submodule "nvim/.config/nvim-main"]
	path = nvim/.config/nvim-main
	url = git@github.com:ashbir/nvim-config.git
	branch = local
